In [3]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfTransformer 
from sklearn.feature_extraction.text import CountVectorizer 
 
docs=["the house had a tiny little mouse", 
"the cat saw the mouse", 
"the mouse ran away from the house", 
"the cat finally ate the mouse", 
"the end of the mouse story"
]

# CountVectorizer

In [4]:
#instantiate CountVectorizer() 
cv=CountVectorizer(stop_words="english") 
 
# this steps generates word counts for the words in your docs 
word_count_vector=cv.fit_transform(docs)

In [5]:
word_count_vector.shape

(5, 12)

In [6]:
feature_names = cv.get_feature_names()  ## EVERY WORD NAME
row_name=["DOC1","DOC2","DOC3","DOC4","DOC5"]

output=pd.DataFrame.sparse.from_spmatrix(word_count_vector,index=row_name,columns=feature_names)
output

C:\Users\User\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,ate,away,cat,end,finally,house,little,mouse,ran,saw,story,tiny
DOC1,0,0,0,0,0,1,1,1,0,0,0,1
DOC2,0,0,1,0,0,0,0,1,0,1,0,0
DOC3,0,1,0,0,0,1,0,1,1,0,0,0
DOC4,1,0,1,0,1,0,0,1,0,0,0,0
DOC5,0,0,0,1,0,0,0,1,0,0,1,0

### Compute the IDF values

In [7]:
tfidf_transformer=TfidfTransformer(smooth_idf=True,use_idf=True) 
tfidf_transformer.fit(word_count_vector)

TfidfTransformer()

In [8]:
tfidf_transformer.idf_

array([2.09861229, 2.09861229, 1.69314718, 2.09861229, 2.09861229,
       1.69314718, 2.09861229, 1.        , 2.09861229, 2.09861229,
       2.09861229, 2.09861229])

### convert idf value into dataframe

In [9]:
# print idf values 
df_idf = pd.DataFrame(tfidf_transformer.idf_, index=cv.get_feature_names(),columns=["idf_weights"]) 
 
# sort ascending 
df_idf.sort_values(by=['idf_weights'],ascending=0)

C:\Users\User\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

         idf_weights
ate         2.098612
away        2.098612
end         2.098612
finally     2.098612
little      2.098612
ran         2.098612
saw         2.098612
story       2.098612
tiny        2.098612
cat         1.693147
house       1.693147
mouse       1.000000

In [10]:
# tf-idf scores 
tf_idf_vector=tfidf_transformer.transform(word_count_vector)
output=pd.DataFrame.sparse.from_spmatrix(tf_idf_vector,index=row_name,columns=feature_names)
output

,ate,away,cat,end,finally,house,little,mouse,ran,saw,story,tiny
DOC1,0.000000,0.000000,0.000000,0.000000,0.000000,0.475575,0.589463,0.280882,0.000000,0.000000,0.000000,0.589463
DOC2,0.000000,0.000000,0.588732,0.000000,0.000000,0.000000,0.000000,0.347715,0.000000,0.729718,0.000000,0.000000
DOC3,0.000000,0.589463,0.000000,0.000000,0.000000,0.475575,0.000000,0.280882,0.589463,0.000000,0.000000,0.000000
DOC4,0.589463,0.000000,0.475575,0.000000,0.589463,0.000000,0.000000,0.280882,0.000000,0.000000,0.000000,0.000000
DOC5,0.000000,0.000000,0.000000,0.670092,0.000000,0.000000,0.000000,0.319302,0.000000,0.000000,0.670092,0.000000

# TF-IDF Vectorizer

In [11]:
docs=["the house had a tiny little mouse", 
"the cat saw the mouse", 
"the mouse ran away from the house", 
"the cat finally ate the mouse", 
"the end of the mouse story"]

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer 
 
# settings that you use for count vectorizer will go here 
model=TfidfVectorizer(use_idf=True,
                                 stop_words='english',
                                 analyzer='word') 
 
# just send in all your docs here 
ouput=model.fit_transform(docs)

Term = cv.get_feature_names()  ## EVERY WORD NAME

Document=["DOC1","DOC2","DOC3","DOC4","DOC5"]

output2=pd.DataFrame.sparse.from_spmatrix(ouput,
                                         index=Document,columns=Term)
output2

C:\Users\User\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,ate,away,cat,end,finally,house,little,mouse,ran,saw,story,tiny
DOC1,0.000000,0.000000,0.000000,0.000000,0.000000,0.475575,0.589463,0.280882,0.000000,0.000000,0.000000,0.589463
DOC2,0.000000,0.000000,0.588732,0.000000,0.000000,0.000000,0.000000,0.347715,0.000000,0.729718,0.000000,0.000000
DOC3,0.000000,0.589463,0.000000,0.000000,0.000000,0.475575,0.000000,0.280882,0.589463,0.000000,0.000000,0.000000
DOC4,0.589463,0.000000,0.475575,0.000000,0.589463,0.000000,0.000000,0.280882,0.000000,0.000000,0.000000,0.000000
DOC5,0.000000,0.000000,0.000000,0.670092,0.000000,0.000000,0.000000,0.319302,0.000000,0.000000,0.670092,0.000000

In [13]:
output2["Max"]=output2.max(axis=1)
output2

,ate,away,cat,end,finally,house,little,mouse,ran,saw,story,tiny,Max
DOC1,0.000000,0.000000,0.000000,0.000000,0.000000,0.475575,0.589463,0.280882,0.000000,0.000000,0.000000,0.589463,0.589463
DOC2,0.000000,0.000000,0.588732,0.000000,0.000000,0.000000,0.000000,0.347715,0.000000,0.729718,0.000000,0.000000,0.729718
DOC3,0.000000,0.589463,0.000000,0.000000,0.000000,0.475575,0.000000,0.280882,0.589463,0.000000,0.000000,0.000000,0.589463
DOC4,0.589463,0.000000,0.475575,0.000000,0.589463,0.000000,0.000000,0.280882,0.000000,0.000000,0.000000,0.000000,0.589463
DOC5,0.000000,0.000000,0.000000,0.670092,0.000000,0.000000,0.000000,0.319302,0.000000,0.000000,0.670092,0.000000,0.670092